*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #bab86c;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; 
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

form button {
  width: fit-content;
  background-color: #e7880c;
  border: 2px solid rgb(14, 12, 1);
  border-radius: 9px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: #e7880c;
}

form button:hover {
  background-color: rgb(3, 102, 132);
  color: #f3dfc4;
}


.messages {
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(211, 127, 0);
    border-radius: 5px;
    background-color: azure;
    
}

footer {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
  color: #333;
}


@media (min-width:600px){
    button{
        width: auto;
  padding:10px;
    }
}
